{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
{% endblock %}

{% block content %}
<style>
        /*--------------------------ESTILOS------------------*/
        body{
            background: #ebf2f7;
            transition: .5s ease all;
            
        .container nav{
            background-color: rgb(19, 136, 190) !important;
            
        }
        
        h1{
            text-align: center !important;
        }
        h2{
            text-align: center !important;
            background-color: rgb(19, 136, 190);
            color: #f1f1f1;
        }
        
        table thead{
            background-color: rgb(13, 82, 114);
            color: #f1f1f1;
        }

        table tbody{
            background-color: rgb(178, 198, 207);
            color: #f1f1f1;


        table tbody{
            background-color: rgb(178, 198, 207);
            color: black;
        }

        .accesibilidad{
            margin-left: 1%;
            margin-top: 1%;
            display: none;
            
        }
        /*
        .container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            flex-direction: column;
            margin: 20px auto;

        }
     </style>
<div class="container">
    <div id="app-visualizer">

        <!-- Navbar -->
        <b-navbar type="dark" variant="secondary">
            <b-navbar-brand tag="h1" style="margin-left: 2%;">Decide, una app para sus votaciones y resultados</b-navbar-brand>
        </b-navbar>

        

        
        <h1>[[ voting.name ]]</h1>
        <div class="voting container">
            
            <h3 >[[ voting.id ]] - [[ voting.name ]]</h3>

            <h2 v-if="!voting.start_date">La siguiente votación sobre "[[ voting.name ]]" aún no ha comenzado, porfavor espere a que esta comienza para tener derecho a votar en ella. Muchas gracias.</h2>
            <h2 v-else-if="!voting.end_date">La siguiente votación sobre "[[ voting.name ]]" se encuentra en curso y tiene derecho a votar en ella por lo que, tras tomar su decisión podrá votar.</h2>
            <div v-else>
                <h2 class="heading">La siguiente votación sobre "[[ voting.name ]]" ya ha finalizado, aquí puede ver los resultados que esta ha tenido. Al haber finalizado ya no puede ejercer su voto. Muchas gracias</h2>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Opción</th>
                            <th>Puntuación</th>La siguiente votación sobre "[[ voting.name ]]" aún no ha comenzado, porfavor espere a que esta comienza para tener derecho a votar en ella. Muchas gracias.
                            <th>Votos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="opt in voting.postproc" :key="opt.number">
                            <th>[[opt.option]]</th>
                            <td>[[opt.postproc]]</td>
                            <td class="text-muted">[[opt.votes]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <p id="holder">
            La votación que está usted esta visualizando tiene como temática"[[ voting.name ]]".
            Si se encuentra interesado sobre dicho tema puede buscar más información en una página
            externa a decide, ya que aquí solo trataremos la puntuación y los votos que las correspondientes
            opciones de votado obtengan. Reincidiendo en que la aplicación web decide únicamente es un sistema
            mediante el que tramitar votos.  
               
        </p>
</div>  

        
    </div>     
{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script>
        var voting = {{voting|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-visualizer',
            data: {
                voting: voting
            }
        })
    </script>
</body>
{% endblock %}
